<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="theme-color" content="#1E1E1E">
  <meta name="viewport" content="user-scalable=no" />

  <link rel="stylesheet" type="text/css" href="../stylesheets/normalize.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/common.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/quiz.css" />

</head>

<body>
  <svg id="square" width="100%" height="100%" viewBox="0 0 500 500" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/"
    style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
    <rect id="Artboard1" x="0" y="0" width="500" height="500" style="fill:#50748b;" /></svg>
  <hr>
  <h1>{{name}}</h1>
  <hr>

  <form method="post" action="/quiz/submit?quizID={{id}}">

    {{#each question}}
      <div class="question">
        <h2 class="title"><span class="number">{{num}}.</span>{{title}}</h2>

        {{#ifEquals type "MUL"}}
          <label for="{{id}}.optionA">A. {{optionA}}
            <input type="radio" id="{{id}}.optionA" name="{{id}},{{type}}" value="countA" required>
            <span class="checkmark"></span>
          </label>

          <label for="{{id}}.optionB">B. {{optionB}}
            <input type="radio" id="{{id}}.optionB" name="{{id}},{{type}}" value="countB" required>
            <span class="checkmark"></span>
          </label>

          <label for="{{id}}.optionC">C. {{optionC}}
            <input type="radio" id="{{id}}.optionC" name="{{id}},{{type}}" value="countC" required>
            <span class="checkmark"></span>
          </label>

          <label for="{{id}}.optionD">D. {{optionD}}
            <input type="radio" id="{{id}}.optionD" name="{{id}},{{type}}" value="countD" required>
            <span class="checkmark"></span>
          </label>
        {{/ifEquals}}

        {{#ifEquals type "SHT"}}
        <label for={{id}}>
          <input type="text" id={{id}} name="{{id}},{{type}}" placeholder="Please input your answer." required>
        </label>
        {{/ifEquals}}

      </div>
    {{/each}}

    <button>Submit</button>
  </form>
</body>

</html>
